
/* Colors */
$primary: #DDDFD4;
$secondary: #3FB0AC;
$darkSecondary: #173E43;
$success: #34421E; 
$error: #FA292A; 
$dropShadow: $darkSecondary;
$dropShadowOpacity: 20%;

/* Fonts */
$font-type: "Segoe Print", "Courier New", monospace;
$font-title: "Franklin Gothic Medium", "Courier New", monospace;
$font-color: $darkSecondary;

:export {
  primaryColor: $primary;
  secondaryColor: $secondary;
  tertiaryColor: $darkSecondary;
  successColor: $success;
  errorColor: $error;
  fontColor: $font-color;
  fontTitle: $font-title;
  fontDefault: $font-type;
}